<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>V-if</title>
    <script src="../vue2.6.js"></script>
  </head>
  <body>
    <div id="app">
      <h2 v-if="score >=90">Excellent</h2>
      <h2 v-else-if="score>=60">Credit</h2>
      <!-- <h2 v-else-if="score>=60">Credit</h2> -->
      <h2 v-else>Not qualified</h2>

      <p></p>
      <p></p>
      <a v-bind:href="url">链接 Take me to GitHUB</a>
      <p></p>
      <img v-if="show" :src="imgUrl" alt="Here is a picture" />
      <p></p>
      <button @click="handleClose">点击隐藏或者显示图片 Click to hide/show the Image</button>
    <h2>Here is a computed Date{{now}}</h2>
    <h2>Date from methods: {{now2}}</h2>
    </div>

    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          score: 90,
          url: "http://www.github.com",
          imgUrl:"./imgs/user.jpg",
          show: true,
        },
        methods: {
          handleClose: function () {
            this.show = !this.show;
          },
          now2:function(){
              return Date.now();
          }

        },
        computed:{
            now:function(){
                return Date.now();
            }
        }
      });
    </script>
  </body>
</html>
